@using System.Web.Optimization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
	
	<!-- Fonts -->
	<link href="//fonts.googleapis.com/css?family=Merriweather:400,700,300,900" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
	
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

    <!-- CSS -->
      @Styles.Render("~/Content/css")
      <script src="~/js/jquery.1.8.3.min.js"></script>
      @Scripts.Render("~/bundles/modernizr")

	<!--[if lt IE 9]>
		<script src="js/respond-1.1.0.min.js"></script>
		<script src="js/html5shiv.js"></script>
		<script src="js/html5element.js"></script>
	<![endif]-->
  </head>

  <body>

    <!--header>
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-sm-12 col-md-4">
			<a href="@home.Url">
            	<div class="brand" style="background-image:url('@(home.SiteLogo)?height=65&width=205&bgcolor=000')"></div>
			</a>
          </div>
          <div class="col-sm-12 col-md-8">
            <nav>
			  
              @{ Html.RenderPartial("MainNavigation"); }

            </nav>
          </div>
        </div>
      </div>

      <div id="toggle" class="toggle">
        <a href="#" class="cross"><span></span></a>
      </div>
    </header-->
	
	


    @RenderBody()
			
			  
			
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-logo"><a href="#"><img src="@( Umbraco.Media(CurrentPage.logo).Url)" alt=""></a></div>
            <span class="copyright">Copyright © 2015 | <a href="http://bootstraptaste.com/">Bootstrap Themes</a> by BootstrapTaste</span>

		  @{ Html.RenderPartial("BottomNavigation"); }

        </div>
      </div>
</footer>


    
    <!-- Javascripts -->

      @Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/bootstrap")
      @RenderSection("scripts", required: false)


  </body>
</html>